geoip.dat
geosite.dat
dist/
__debug_bin*
test/temp/*
*.dll
*.dll~
*.aar
*.jar
cmd/win/*.dll
*.dylib
/xray-core
/vm
/test/tmp/*

tun/wintun/*
*.dat
*.db
.env
nginx.conf
*.exe
*.so
app/dns/memory
actions-runner/
test-results.txt
third_party/
jsons/
.claude
.vscode
Makefile
infra
Dockerfile
image.tar
wfp/
**/.DS_Store
test_results.txt
